<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-content error-content">
			<div class="error-img">
				<img src="../images/status_server_exception.png" />
			</div>
			<div class="error-lin1">数据／服务器异常</div>
			<div class="error-lin2">加载失败</div>
			<div class="error-btn">
				<button type="button" class="mui-btn">点击重试</button>
			</div>
		</div>
		
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			(function($, doc){
				
				
				
				
			}(mui, document))
		</script>
	</body>

</html>