<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav app-bar-top">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title"></h1>
		    <div class="mui-icon mui-pull-right">
		    	<img class="app-share app-none" src="../images/bt-share-click2.png" />
		    </div>
		</header>
		
		
		<div class="mui-content error-content">
			<div class="error-img">
				<img src="../images/status_network_anomaly.png" />
			</div>
			<div class="error-lin1">网络异常</div>
			<div class="error-lin2">～请刷新一下吧～</div>
			<div class="error-btn">
				<button type="button" class="mui-btn">点击重试</button>
			</div>
		</div>
		
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			(function($, doc){
				$.plusReady(function(){
					doc.querySelector(".error-btn button").addEventListener("tap", function(){
						goBack();
					});
				});
				
				var old_back = mui.back;
				$.back = function(){
					var opener = plus.webview.currentWebview().opener();
					if(opener.id == 'HBuilder' || opener.id == 'io.hybrid.ed.v02'){
						return;
					}
					old_back();
				}
				
				function goBack(){
					var sourcePage = app.getSourcePage();
					if (plus.networkinfo.getCurrentType() == plus.networkinfo.CONNECTION_NONE){
						return;
					}
					if(sourcePage.url){
						webview = plus.webview.getWebviewById(sourcePage.url);
						webview.reload(true);
						
						var mask = mui.createMask();
						mask.show();

						setTimeout(function(){
							mask.close();
							webview.show("pop-in");
							plus.webview.currentWebview().close();
						},2000);
						
						
					}else{
						var launch = plus.webview.getLaunchWebview();
						launch.reload(true);
						launch.show();
						plus.webview.currentWebview().close();
					}
					
				}
				
			}(mui, document))
		</script>
	</body>

</html>